bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/MoviesApp/v17/.suo
/.vs/MoviesApp/v17/.futdcache.v1
/.vs/MoviesApp/v17
/.vs/MoviesApp/project-colors.json
/.vs/MoviesApp/DesignTimeBuild/.dtbcache.v2
/.vs/MoviesApp/DesignTimeBuild
/.vs/MoviesApp
/.vs/Movies-App-API-DotNet6.0/v17/.suo
/.vs/Movies-App-API-DotNet6.0/v17
